:root {
  --primary-font-family:'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --icon-color: #afb1b8;
  --acitv-accent-color: #188ce8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1600px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.no-padding {
  padding-bottom: 0;
}

.logo__studio {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__web {
  color: var(--accent-color);
}

.logo__theme_dark {
  color: var(--primary-text-color);
}

.logo__theme_light {
  color: var(--white-text-color);
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  border: none;
  transition: background 250ms var(--timing-function);
  color: var(--white-text-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal-btn:hover, .modal-btn:focus {
  background: var(--acitv-accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear, transform 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.4);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: var(--white-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.contact-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  text-align: center;
  color: var(--primary-text-color);
}

.contact-form-field {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.contact-form-input-wrapper {
  margin-bottom: 10px;
  position: relative;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}

.contact-form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.contact-form-input:hover {
  cursor: pointer;
}

.contact-form-input-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--primary-text-color);
  transition: fill 250ms var(--timing-function);
}

.contact-form-input:focus + .contact-form-input-icon {
  fill: var(--accent-color);
}

.contact-form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}

.contact-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-message:hover {
  cursor: pointer;
}

.contact-form-message::placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-checkbox-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

.contact-form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.contact-form-checkbox-label::before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 15px;
  margin-right: 8.38PX;
  border: 1.7px solid var(--primary-text-color);
  cursor: pointer;
  border-radius: 2px;
}

.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  background-image: url(../images/modal/icon-check.png);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}

.checkbox-agreement {
  color: var(--accent-color);
  transition: color 250ms var(--timing-function);
}

.checkbox-agreement:hover, .checkbox-agreement:focus {
  color: var(--acitv-accent-color);
}

.contact-form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  line-height: 1.88;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: none;
}

.header-contacts {
  display: none;
}

.work__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.1666;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.work__list {
  display: flex;
  flex-wrap: wrap;
}

.work__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

@media screen and (max-width: 1599px) {
  .work {
    display: none;
  }
}

.work__wrapper {
  position: relative;
}

.work__wrapper img {
  z-index: -1;
}

.work__wrapper-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  background: rgba(47, 48, 58, 0.8);
}
/*# sourceMappingURL=main.css.map */