:root {
  --primary-font-family:"Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --icon-color: #afb1b8;
  --acitv-accent-color: #188ce8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --bg-image-lianer-gradient: rgba(47, 48, 58, 0.4);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.no-padding {
  padding-top: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo__studio {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
}

.logo__web {
  color: var(--accent-color);
}

.logo__theme_dark {
  color: var(--primary-text-color);
}

.logo__theme_light {
  color: var(--white-text-color);
}

@media screen and (min-width: 1200px) {
  .logo__studio {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923076923;
  }
}
.modal-btn {
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  border: none;
  transition: background 250ms var(--timing-function);
  color: var(--white-text-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-btn:hover, .modal-btn:focus {
  background: var(--acitv-accent-color);
}

.social-list-item {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-text-color);
  transition: background-color 250ms var(--timing-function);
}
.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  fill: var(--icon-color);
  transition: fill 250ms var(--timing-function);
}
.social-list-link:hover .social-list-icon, .social-list-link:focus .social-list-icon {
  fill: var(--white-text-color);
}

.footer-social-list {
  display: flex;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}
.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-icon {
  fill: var(--white-text-color);
  transition: fill 250ms var(--timing-function);
}
.footer-social-link:hover .footer-social-icon, .footer-social-link:focus .footer-social-icon {
  fill: var(--white-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear, transform 250ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.4);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  padding: 40px;
  background: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: var(--white-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.contact-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  text-align: center;
  color: var(--primary-text-color);
}

.contact-form-field {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.contact-form-input-wrapper {
  margin-bottom: 10px;
  position: relative;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}
.contact-form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
.contact-form-input:hover {
  cursor: pointer;
}

.contact-form-input-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--primary-text-color);
  transition: fill 250ms var(--timing-function);
}
.contact-form-input:focus + .contact-form-input-icon {
  fill: var(--accent-color);
}

.contact-form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}
.contact-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}
.contact-form-message:hover {
  cursor: pointer;
}
.contact-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-checkbox-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

.contact-form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.contact-form-checkbox-label::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 8.38px;
  border: 1.7px solid var(--primary-text-color);
  cursor: pointer;
  border-radius: 2px;
}
.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  background-image: url(../images/modal/icon-check.png);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}

.checkbox-agreement {
  color: var(--accent-color);
  transition: color 250ms var(--timing-function);
}
.checkbox-agreement:hover, .checkbox-agreement:focus {
  color: var(--acitv-accent-color);
}

.contact-form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  line-height: 1.88;
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .header-contacts {
    display: none;
  }
  .mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    transition: fill 250ms var(--timing-function);
  }
  .mobile-menu-btn:hover .mobile-menu-btn__icon, .mobile-menu-btn:focus .mobile-menu-btn__icon {
    fill: var(--accent-color);
  }
  .mobile-menu-btn__icon {
    fill: var(--primary-text-color);
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background: var(--white-text-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding: 48px 40px;
  }
  .contact-group {
    display: block;
  }
  .mobile-menu__close-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    position: absolute;
    top: 10px;
    right: 15px;
    transition: fill 250ms var(--timing-function);
  }
  .mobile-menu__close-btn:hover .mobile-menu__close-icon, .mobile-menu__close-btn:focus .mobile-menu__close-icon {
    fill: var(--accent-color);
  }
  .mobile-menu__studio,
.mobile-menu__portfolio,
.mobile-menu__contacts {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms var(--timing-function);
  }
  .mobile-menu__studio:hover, .mobile-menu__studio:focus,
.mobile-menu__portfolio:hover,
.mobile-menu__portfolio:focus,
.mobile-menu__contacts:hover,
.mobile-menu__contacts:focus {
    color: var(--accent-color);
  }
  .active {
    color: var(--accent-color);
  }
  .mobile-menu__nav li:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__nav {
    margin-bottom: 306px;
  }
  .mobile-menu__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.1764705882;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    transition: color 250ms var(--timing-function);
  }
  .mobile-menu__tel:hover, .mobile-menu__tel:focus {
    color: var(--accent-color);
  }
  .mobile-menu__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color 250ms var(--timing-function);
  }
  .mobile-menu__mail:hover, .mobile-menu__mail:focus {
    color: var(--accent-color);
  }
  .mobile-menu__tm li:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__tm {
    margin-bottom: 64px;
  }
  .mobile-menu__social {
    display: flex;
  }
  .mobile-menu__social-item .link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2222222222;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-menu__social-item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .nav-list {
    display: flex;
  }
  .nav-list > .item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    color: var(--primary-text-color);
    transition: color 250ms var(--timing-function);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
  }
  .nav-list__link:hover, .nav-list__link:focus {
    color: var(--accent-color);
  }
  .nav-list__item > .current {
    color: var(--accent-color);
  }
  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
  .header-contacts {
    display: block;
    text-decoration: none;
  }
  .header-contacts__mail,
.header-contacts__tel {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color 250ms var(--timing-function);
  }
  .header-contacts__mail:hover, .header-contacts__mail:focus,
.header-contacts__tel:hover,
.header-contacts__tel:focus {
    color: var(--accent-color);
  }
  .header-contacts__icon {
    display: block;
    margin-right: 10px;
    align-items: center;
    fill: currentColor;
  }
  .header-contacts__icon:hover, .header-contacts__icon:focus {
    color: var(--accent-color);
  }
  .header-contacts__icon.envelope {
    width: 14px;
    height: 10px;
  }
  .header-contacts__icon.smartphone {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .header-contacts {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 93px;
  }
  .header-contacts {
    display: flex;
    margin-left: auto;
  }
  .header-contacts > .item:not(:last-child) {
    margin-right: 30px;
  }
  .header-contacts__mail,
.header-contacts__tel {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
  }
  .header-contacts__icon {
    display: flex;
    margin-right: 10px;
    align-items: center;
  }
  .header-contacts__icon.envelope {
    width: 16px;
    height: 12px;
  }
  .header-contacts__icon.smartphone {
    height: 16px;
  }
}
.hero {
  max-width: 480px;
  margin: 0 auto;
  padding: 118px 0;
  text-align: center;
  background-image: linear-gradient(var(--bg-image-lianer-gradient), var(--bg-image-lianer-gradient)), url("../images/mob-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #C4C4C4;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2/1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--bg-image-lianer-gradient), var(--bg-image-lianer-gradient)), url("../images/mob-hero@2x.jpg");
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.hero__btn {
  padding: 10px 32px;
  line-height: 1.875;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(var(--bg-image-lianer-gradient), var(--bg-image-lianer-gradient)), url("../images/tablet-hero.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--bg-image-lianer-gradient), var(--bg-image-lianer-gradient)), url("../images/tablet-hero@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(var(--bg-image-lianer-gradient), var(--bg-image-lianer-gradient)), url("../images/desk-hero.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--bg-image-lianer-gradient), var(--bg-image-lianer-gradient)), url("../images/desk-hero@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}
.peculiarities__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.peculiarities__list {
  display: flex;
  flex-wrap: wrap;
}

.peculiarities__item:not(:last-child) {
  margin-bottom: 30px;
}

.peculiarities__svg {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #F5F4FA;
}

.peculiarities__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .peculiarities-list {
    margin: -15px;
  }
  .peculiarities__item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
  .peculiarities__item:last-child {
    margin-bottom: 15px;
  }
  .peculiarities__title {
    text-align: left;
  }
}
@media screen and (min-width: 1199px) {
  .peculiarities__item {
    width: 270px;
  }
  .peculiarities__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.work__list {
  display: flex;
  flex-wrap: wrap;
}

.work__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.work__wrapper {
  position: relative;
}
.work__wrapper img {
  z-index: -1;
}

.work__wrapper-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background: #f5f4fa;
}

.team__title {
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
}

.team__item {
  background-color: var(--white-text-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  max-width: 480px;
}
.team__item:not(:last-child) {
  margin-bottom: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team__object {
  text-align: center;
  margin-top: 30px;
}

.team__pretext {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  margin-bottom: 16px;
  color: var(--text-color);
  letter-spacing: 0.03em;
}

.social-list {
  display: flex;
  padding-bottom: 24px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .team__item {
    max-width: 354px;
  }
  .team__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666666667;
  }
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
  .team__item {
    max-width: 270px;
  }
}
.customers__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.customers__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 100%;
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  background-color: var(--white-text-color);
  transition: border 250ms var(--timing-function);
}
.customers__link:hover, .customers__link:focus {
  border: 1px solid var(--accent-color);
}

.customers__icon {
  fill: var(--icon-color);
  transition: fill 250ms var(--timing-function);
}
.customers__link:hover .customers__icon, .customers__link:focus .customers__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .customers__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 226px;
  }
  .customers__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 0.9166666667;
  }
  .customers__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 170px;
  }
  .customers__link {
    width: 170px;
  }
}
footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.link-footer {
  display: block;
  margin-bottom: 20px;
}

.footer-address {
  margin-bottom: 60px;
}

.address-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
}
.address-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-map {
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--white-text-color);
  transition: color 250ms var(--timing-function);
}
.footer-map:hover, .footer-map:focus {
  color: var(--accent-color);
}

.footer-mail,
.footer-tel {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
}
.footer-mail:hover, .footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.footer-social {
  margin-bottom: 60px;
}

.footer-social-text {
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-subscribe-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.footer-subscribe-email {
  width: 100%;
  padding: 15px 16px;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: transparent;
  color: var(--white-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-subscribe-email:hover {
  border-color: var(--accent-color);
}
.footer-subscribe-email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe-btn {
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: inline-flex;
  align-items: center;
  padding: 10px 28px;
  letter-spacing: 0.06em;
  border: none;
  color: var(--white-text-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.footer-subscribe-btn:hover, .footer-subscribe-btn:focus {
  background: var(--acitv-accent-color);
}

.footer-subscribe-icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer-position {
    display: grid;
    grid-template-areas: "footer-address footer-social" "footer-subscribe footer-subscribe";
    row-gap: 60px;
  }
  .footer-address {
    grid-area: footer-address;
    margin-bottom: 0;
  }
  .footer-social {
    grid-area: footer-social;
    margin-bottom: 0;
  }
  .footer-subscribe {
    grid-area: footer-subscribe;
  }
  .footer-subscribe-email {
    width: 450px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-postition {
    display: flex;
    align-items: baseline;
  }
  .link-footer {
    display: block;
    margin-bottom: 20px;
  }
  .footer-address {
    margin-right: 70px;
    text-align: left;
  }
  .footer-social {
    margin-right: 70px;
  }
  .footer-social-text {
    text-align: left;
  }
  .footer-subscribe {
    text-align: left;
    margin-left: auto;
  }
  .footer-subscribe-email {
    width: 390px;
    display: inline-flex;
    margin-bottom: 0;
  }
  .footer-subscribe-label {
    display: inline-block;
    margin-right: 12px;
  }
}
.filters-btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background: #f5f4fa;
  border-radius: 4px;
  font-family: inherit;
  border: none;
  transition: color 250ms var(--timing-function), background 250ms var(--timing-function);
}
.filters-btn:hover, .filters-btn:focus {
  background: var(--accent-color);
  color: var(--white-text-color);
}

.filters-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 15px;
  column-gap: 8px;
  margin-bottom: 40px;
}

.projects-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  width: 404px;
}
.projects-list > .item {
  width: 404px;
  background: var(--white-text-color);
  border: 1px solid #eeeeee;
}

.projects-link {
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}
.projects-link:hover, .projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-img-overlay {
  position: relative;
  overflow: hidden;
}

.projects-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  overflow: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--timing-function);
  transform: translateY(100%);
}
.projects-link:hover .projects-text-overlay, .projects-link:focus .projects-text-overlay {
  transform: translateY(0);
}

.projects-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.object {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.object > h3 {
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .filters-list {
    justify-content: center;
    margin-bottom: 50px;
  }
  .projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 354px;
  }
  .projects-list > .item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .projects-list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 370px;
  }
  .projects-list > .item {
    width: 370px;
  }
}/*# sourceMappingURL=main.css.map */