
.peculiarities__title {
    margin-top: 30px;
    margin-bottom: 10px;

    @include font(700, 14px, 16px);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-text-color);
}

.peculiarities__list {
    display: flex;
    flex-wrap: wrap;
}


.peculiarities__item:not(:last-child) {
    margin-bottom: 30px; 
}

.peculiarities__svg {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #F5F4FA;
}


.peculiarities__text {
    @include font(400, 14px, 24px);
    letter-spacing: 0.03em;

    color: var(--text-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) 
 {
        .peculiarities-list {
            margin: -15px;
        }

        .peculiarities__item {
            flex-basis: calc((100% - 60px) / 2);
            margin: 15px;

            &:last-child {
                margin-bottom: 15px;
            }
        }

        .peculiarities__title {
            text-align: left;
        }
}

@media screen and (min-width: 1199px)
{
    .peculiarities__item {
        width: 270px;
    }
    .peculiarities__item:not(:last-child) {
        margin-right: 30px;
        margin-bottom: 0;
    }
}














